*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}
.calculator{
    background: #222;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    width: 300px;
}
#display{
    width: 100%;
    height: 60px;
    font-size: 2rem;
    color: #000000;
    padding: 10px;
    text-align: right;
    border: none;
    border-radius: 10px;
    overflow-x: auto;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button {
    height: 55px;
    font-size: 1.2rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
}
button:hover {
    opacity: 0.85;
}

button:active {
    transform: scale(0.95);
}

.operator {
    background: #ff9500;
    color: #ffffff;
}
.equal {
    background: #34c759;
    color: #ffffff;
}
.zero{
    grid-column: span 2;
}
